body{
    background-image: url(./Background.png);
    background-repeat: repeat-x;
    padding: 30px;
    font-family:'Lucida-sans';
}
.about{
    color:#5ae3e3;
    font-size: 50px;
}
.head{
    color:#5ae3e3;
}
.para{
    font-size: 1.1rem;
    color: #fff;
    padding:20px

}
.container{
    display:flex; 
}
.bottom{
    padding-top: 120px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo{
    padding-right: 40px;
}
.nav{
    display:flex;
    justify-content: space-between;
}
#hehe{
    height:40px;
    width: 40px;
}